%li{class: "likebuttun"}
  %input{name: "inputname", type:"hidden", value: product.id ,id: "product_id"}/
  -# product.id ” id=“tweet_id”&gt;
  - if user_signed_in?
    - if product.liked_by?(current_user)
      / ログインしているユーザーがファボしたかどうかで分岐
      -# = icon('far', 'fa-heart')
      = icon('far', 'heart')
      %span{:class => "unlike2"} いいね！
      %span{class:"count-down"} 
        = product.likes.count
    - else
      = icon('far', 'heart')
      %span{:class => "like2"} いいね！
      %span{class:"count-up"} 
        = product.likes.count
  - else
    %p
      %span いいね！
      = product.likes.count
