.l-side
  %nav.mypage-side
    %ul.mypage-side-list
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          マイページ
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          お知らせ
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          やることリスト
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          いいね！一覧
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  new_product_path, class: "mypage-side-list-item" do
          出品する
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  users_mypage_product_list_path, class: "mypage-side-list-item" do
          出品した商品 - 出品中
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          出品した商品 - 取引中
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          出品した商品 - 売却済み
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  users_mypage_purchase_product_path, class: "mypage-side-list-item" do
          購入した商品 - 取引中
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  users_mypage_purchase_product_path, class: "mypage-side-list-item" do
          購入した商品 - 過去の取引
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          ニュース一覧
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          評価一覧
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          ガイド
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          お問い合わせ
          = icon('fas', 'angle-right', class: "contents__btn--icon")
    %h3.mypage-side-head メルペイ
    %ul.mypage-side-list
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          売上・振込申請
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          ポイント
          = icon('fas', 'angle-right', class: "contents__btn--icon")
    %h3.mypage-side-head 設定
    %ul.mypage-side-list
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          プロフィール
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          発送元・お届け先住所変更
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          支払い方法
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          メール/パスワード
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          本人情報
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          電話番号の確認
          = icon('fas', 'angle-right', class: "contents__btn--icon")
      %li
        = link_to  "/", class: "mypage-side-list-item" do
          ログアウト
          = icon('fas', 'angle-right', class: "contents__btn--icon")

          