%section
  .ssc-container
    %h2.ssc-container__header 電話番号の確認
    = form_with url: users_signupsmscon_path, class: "ssc-container__registration-form" do |f|
      .ssc-container__registration-form__container
        .ssc-container__registration-form__container__content
          = f.label "携帯電話の番号"
          = f.text_field :phone_number, placeholder: '携帯電話の番号を入力', class: "default-text"
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      .ssc-container__registration-form__container
        .ssc-container__registration-form__container__content
          = button_tag "SMSを送信する", type: 'submit', class: "btn"
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .text-right
            = link_to users_signupsmscon_path, class: "text-right__link" do
              電話番号の確認が必要な理由
              = icon('fas', 'angle-right')