%section#signupregistration
  .sr-container
    %h2.sr-container__header 会員情報入力
    = form_with model: @user, url: signupsmscon_users_path, method: :post, local: true, class: "sr-container__registration-form" do |f|
      .sr-container__registration-form__container
        .sr-container__registration-form__container__content
          = f.label 'nickname_', "ニックネーム"
          %span.require 必須
          = f.text_field :nickname, placeholder: '例）メルカリ太郎', class: "default-text"
          = render partial: 'error-messages', locals: {user: @user, column: "nickname"}
        .sr-container__registration-form__container__content
          = f.label 'email_', "メールアドレス"
          %span.require 必須
          - if @sns_id
            = f.text_field :email, placeholder: '入力不要', class: "default-text", id: "id-email", disabled: "disabled", value: @email
          - else
            = f.text_field :email, placeholder: 'PC・携帯どちらでも可', class: "default-text", id: "id-email"
          = render partial: 'error-messages', locals: {user: @user, column: "email"}
        .sr-container__registration-form__container__content
          = f.label 'password_', "パスワード"
          %span.require 必須
          - if @sns_id
            = f.password_field :password, placeholder: '7文字以上の半角英数字', class: "default-text", id: "id-password", disabled: "disabled", value: @password
            = f.password_field :password_confirmation, placeholder: '7文字以上の半角英数字', class: "default-text", id: "id-password_confirmation", disabled: "disabled", value: @password
          - else
            = f.password_field :password, placeholder: '7文字以上の半角英数字', class: "default-text", id: "id-password"
            = f.password_field :password_confirmation, placeholder: '7文字以上の半角英数字', class: "default-text", id: "id-password_confirmation"
          = render partial: 'error-messages', locals: {user: @user, column: "password"}
          = render partial: 'error-messages', locals: {user: @user, column: "password_confirmation"}
          %p.sr-container__registration-form__container__content__info-text
            ※ 英字と数字の両方を含めて設定してください
          .sr-container__registration-form__container__content__toggle
            =check_box_tag :check1
            =label_tag :check1, "パスワードを表示する"
        .sr-container__registration-form__container__content
          %h3.sr-container__registration-form__container__content__sub-head 本人確認
          %p.sr-container__registration-form__container__content__password-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .sr-container__registration-form__container__content
          = f.label 'name_kanji_', "お名前(全角)"
          %span.require 必須
          %br
          = f.text_field :last_name_kanji, placeholder: '例）山田', class: "default-text__half__left"
          = f.text_field :first_name_kanji, placeholder: '例）彩', class: "default-text__half__right"
          = render partial: 'error-messages', locals: {user: @user, column: "last_name_kanji"}
          = render partial: 'error-messages', locals: {user: @user, column: "first_name_kanji"}
        .sr-container__registration-form__container__content
          = f.label 'name_kana_', "お名前カナ(全角)"
          %span.require 必須
          %br
          = f.text_field :last_name_kana, placeholder: '例）ヤマダ', class: "default-text__half__left"
          = f.text_field :first_name_kana, placeholder: '例）アヤ', class: "default-text__half__right"
          = render partial: 'error-messages', locals: {user: @user, column: "last_name_kana"}
          = render partial: 'error-messages', locals: {user: @user, column: "first_name_kana"}
        .sr-container__registration-form__container__content
          = f.label 'birthdate_', "生年月日"
          %span.require 必須
          %br
          .birthday-select-wrap
            .birthday-select-wrap__select-wrap
              .icon-arrow-bottm
                = icon('fas', 'chevron-down')
              = f.select :birthdate_year,
                ["--", 2019, 2018, 2017], {}, class:"select-box"
            %span 年
            .birthday-select-wrap__select-wrap
              .icon-arrow-bottm
                = icon('fas', 'chevron-down')
              = f.select :birthdate_month,
                ["--",1,2,3], {}, class:"select-box"
            %span 月
            .birthday-select-wrap__select-wrap
              .icon-arrow-bottm
                = icon('fas', 'chevron-down')
              = f.select :birthdate_day,
                ["--",1,2,3,4,5,6], {}, class:"select-box"
            %span 日
          = render partial: 'error-messages', locals: {user: @user, column: "birthdate_year"}
          = render partial: 'error-messages', locals: {user: @user, column: "birthdate_month"}
          = render partial: 'error-messages', locals: {user: @user, column: "birthdate_day"}
        %p.sr-container__registration-form__container__info-text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .sr-container__registration-form__container
        .sr-container__registration-form__container__content
          %p.text-center 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
          = button_tag "次へ進む", type: 'submit', class: "btn"
          .text-right
            = link_to signupsmscon_users_path, class: "text-right__link" do
              本人情報の登録について
              = icon('fas', 'angle-right')
          .recaptcha-team
            %p This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.