%header
  = render "products/top_header"

- breadcrumb :cardcreate
= render 'products/bread-crumbs'
%main.l-main_box
  %card_payment
    = render "card_payment"      
  %aside
    = render "aside"
%footer
  = render "products/top_footer"