%body
%header
  = render "products/top_header"
.wraper
%main.l-main.box
  .l-content
    %section.l-content-box
      %h2.l-content-head 支払い方法
      .l-single-top
        %section
          .l-single-content
            %h3.l-content-sub-head クレジットカード一覧
          %ul.settings-payment-list
        %section.settings-add-card
          .l-single-content
            %a.btn-default.btn-red.submit_button{href: ""}
              = icon('fas', 'credit-card', class: "btn--icon")
              クレジットカードを追加する
        .settings-not-regist
          = link_to {href: "", target: "_blank"}
            %span 支払い方法について
            = icon('fas', 'angle-right', class: "icon--right")

  %aside
    = render "user_aside"
%footer
  = render "products/top_footer"