.single-container
  %header 
    = render "products/header"

  %main.login-content
    .login-content__body
      .login-content__body__noaccount
        %p アカウントをお持ちでない方はこちら
        = link_to signupregistration_users_path, class:"login-link" do 
          新規会員登録
      .login-content__body__inner
        = link_to user_facebook_omniauth_authorize_path, class:"btn-facebook", id: "facebook-login" do
          = icon('fab', 'facebook-square fa-2x',class: "facebook")
          Facebookでログイン
        = link_to user_google_oauth2_omniauth_authorize_path, class:"btn-google", id: "google-login" do
          = icon('fab', 'google fa-2x',class: "google")
          Googleでログイン

      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-content__body__form'}) do |f|

        .login-form-inner
          .form-group
            = f.text_field :email, placeholder:"メールアドレス", class:"input-form"
          .form-group
            = f.password_field :password, placeholder:"パスワード", class:"input-form"
          = f.submit "ログイン", class:"btn-defoultred"
          = link_to "/",class:"reset" do
            パスワードをお忘れの方
  %footer.single-footer
    = render "products/footer"