%body
  
  %header
    = render "products/top_header"

    - breadcrumb :logout
    = render 'products/bread-crumbs'

  .wraper
  %main.l-main.box
    .l-content
      .l-content__form
        %form{action: destroy_user_session_url, class: "content-input"}
          .l-content__logout
            %button.btn-default.btn-red{type: "submit"} ログアウト
    = render "users/aside"
  %aside
    = render "products/top_aside_footer"
  %footer
    = render "products/top_footer"
    