.single-container
  %header 
    = render "products/header"


  .new-content
    .new-content__main
      %section.new-content__main__inner
        %h2.head 新規会員登録
        %div.registration
          %div.registration__content
            = link_to "/" , class:"btn-mail" do 
              = icon('far', 'envelope fa-2x',class: "mail")
              メールアドレスで登録
            %button#facebook-login.btn-facebook
              = icon('fab', 'facebook-square fa-2x',class: "facebook")
              Facebookで登録
            %button#google-login.btn-google
              = icon('fab', 'google fa-2x',class: "google")
              Googleで登録

  %footer.single-footer
    = render "products/footer"
