.single-container
  %header 
    = render "products/header"


  .new-content
    .new-content__main
      %section.new-content__main__inner
        %h2.head 新規会員登録
        %div.registration
          %div.registration__content
            = link_to signupregistration_users_path , class:"btn-mail" do 
              = icon('far', 'envelope fa-2x',class: "mail")
              メールアドレスで登録
            = link_to user_facebook_omniauth_authorize_path , id:"facebook-login", class:"btn-facebook" do 
              = icon('fab', 'facebook-square fa-2x',class: "facebook")
              Facebookで登録
            = link_to user_google_oauth2_omniauth_authorize_path , id:"google-login", class:"btn-google" do
              = icon('fab', 'google fa-2x',class: "google")
              Googleで登録

  %footer.single-footer
    = render "products/footer"
