.wraper
  .item-box-container
    %h1 
      = @product.name
    .item-box-container__content.clerafix
      .item-box-container__content__photo
        = image_tag @product_images[0].image_url.url, :size => "300x330",id:"img"
        .item-box-container__content__photo__each
          - @product_images.each do |product_image|
            = image_tag product_image.image_url.url,style:"width:20%;",onmouseover: "changeimage('#{product_image.image_url.url}');"


      %table.item-box-container__content__detail-table
        %tbody
          %tr
            %th 出品者
            %td 
              = @exuser.nickname
          %tr
            %th カテゴリ
            %td 
              = @category.name
              = @chaild_category.name
              = @grandchaild_category.name
          %tr
            %th ブランド
            %td コンテンツ
          %tr
            %th 商品のサイズ
            %td
              =@product.size
          %tr
            %th 商品の状態
            %td 
              =@product.product_condition
          %tr
            %th 配送料の負担
            %td 
              =@product.shipping_charge
          %tr
            %th 配送の方法
            %td 
              =@product.shipping_method
          %tr
            %th 配送元地域
            %td 
              =@product.shipping_origin
          %tr
            %th 配送日の目安
            %td 
              =@product.shipping_day
    .item-box-container__price-box
      %span.item-box-container__price-box__item-price
        ¥
        =converting_to_jpy(@product.price)
      %span.item-box-container__price-box__item-tax
        (税込)
      %span.item-box-container__price-box__shipping-fee
        送料込み
    -if @disable == 0
      = link_to "購入画面に進む", product_buy_path(@product), class: "item-box-container__buy-btn"
    -else
      %p.item-box-container__buy-btn-disable 購入不可
    .item-box-container__description
      %p.item-box-container__description__inner
        = @product.description
    .item-box-container__buttons.clearfix
      .item-box-container__buttons__left
        %ul
          %li.item-btn
            = link_to product_path do
              = icon('far', 'heart')
              %span いいね！
          %li.item-btn
            = link_to product_path do
              = icon('far', 'flag')
              %span 不適切な商品の報告
      .item-box-container__buttons__right
        = link_to product_path do
          = icon('fas', 'lock')
          %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .item-detail-message__content
      = form_with url: product_path, class: "comment-box" do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :comment, class: "comment-box__text", size: "30x4"
        = button_tag type: 'submit', class: "comment-box__btn" do
          コメントする
  .item-link
    %ul.item-link__content
      %li.item-link__content__prev
        = link_to product_path do
          = icon('fas', 'angle-left')
          前の出品
      %li.item-link__content__next
        = link_to product_path do
          次の出品
          = icon('fas', 'angle-right')
  .item-social-media
    %ul.item-social-media__box
      %li.item-social-media__box__content
        .item-social-media__box__content__face-book
          = link_to product_path do
            = icon 'fab', 'facebook-square', class: "icon"
      %li.item-social-media__box__content
        .item-social-media__box__content__twitter
          = link_to product_path do
            = icon 'fab', 'twitter', class: "icon"
      %li.item-social-media__box__content
        .item-social-media__box__content__pinterest
          = link_to product_path do
            = icon 'fab', 'pinterest', class: "icon"
  .item-in-user-profile
    .item-in-user-profile__container
      %h2
        = link_to "出品者のその他の出品", product_path
      .item-in-user-profile__container__content.clerafix
      - @userproducts.each do |userproduct|
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              = image_tag userproduct.product_images[0].image_url.url, size: '213x230'
            .item-in-user-profile__container__content__box__body
              %h3 
                = userproduct.name
              .item-box-num
                .item-box-num__price
                  ¥
                  = userproduct.price
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        
    .item-in-user-profile__container
      %h2
        = link_to "カテゴリ名　その他の出品", product_path
      .item-in-user-profile__container__content.clerafix
      - @othercategory.each do |othercategory|
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              = image_tag othercategory.product_images[0].image_url.url, size: '213x230'
            .item-in-user-profile__container__content__box__body
              %h3 
                = othercategory.name
              .item-box-num
                .item-box-num__price
                  ¥
                  = othercategory.price
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3