.wraper
  .item-box-container
    %h1 商品名
    .item-box-container__content.clerafix
      .item-box-container__content__photo
      - @product_images.each do |product_image|
        = image_tag product_image.image_url.to_s

        写真
      %table.item-box-container__content__detail-table
        %tbody
          %tr
            %th 出品者
            %td コンテンツ
          %tr
            %th カテゴリ
            %td コンテンツ
          %tr
            %th ブランド
            %td コンテンツ
          %tr
            %th 商品のサイズ
            %td コンテンツ
          %tr
            %th 商品の状態
            %td コンテンツ
          %tr
            %th 配送料の負担
            %td コンテンツ
          %tr
            %th 配送の方法
            %td コンテンツ
          %tr
            %th 配送元地域
            %td コンテンツ
          %tr
            %th 配送日の目安
            %td コンテンツ
    .item-box-container__price-box
      %span.item-box-container__price-box__item-price
        ¥1,500
      %span.item-box-container__price-box__item-tax
        (税込)
      %span.item-box-container__price-box__shipping-fee
        送料込み
    = link_to "購入画面に進む", product_path, class: "item-box-container__buy-btn"
    .item-box-container__description
      %p.item-box-container__description__inner
        イタリア製
        高いよ
        いいものだよ<br>

        改行もできる<br>

        OK
    .item-box-container__buttons.clearfix
      .item-box-container__buttons__left
        %ul
          %li.item-btn
            = link_to product_path do
              = icon('far', 'heart')
              %span いいね！
          %li.item-btn
            = link_to product_path do
              = icon('far', 'flag')
              %span 不適切な商品の報告
      .item-box-container__buttons__right
        = link_to product_path do
          = icon('fas', 'lock')
          %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .item-detail-message__content
      = form_with url: product_path, class: "comment-box" do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :comment, class: "comment-box__text", size: "30x4"
        = button_tag type: 'submit', class: "comment-box__btn" do
          コメントする
  .item-link
    %ul.item-link__content
      %li.item-link__content__prev
        = link_to product_path do
          = icon('fas', 'angle-left')
          前の出品
      %li.item-link__content__next
        = link_to product_path do
          次の出品
          = icon('fas', 'angle-right')
  .item-social-media
    %ul.item-social-media__box
      %li.item-social-media__box__content
        .item-social-media__box__content__face-book
          = link_to product_path do
            = icon 'fab', 'facebook-square', class: "icon"
      %li.item-social-media__box__content
        .item-social-media__box__content__twitter
          = link_to product_path do
            = icon 'fab', 'twitter', class: "icon"
      %li.item-social-media__box__content
        .item-social-media__box__content__pinterest
          = link_to product_path do
            = icon 'fab', 'pinterest', class: "icon"
  .item-in-user-profile
    .item-in-user-profile__container
      %h2
        = link_to "出品者のその他の出品", product_path
      .item-in-user-profile__container__content.clerafix
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
    .item-in-user-profile__container
      %h2
        = link_to "カテゴリ名　その他の出品", product_path
      .item-in-user-profile__container__content.clerafix
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3
        .item-in-user-profile__container__content__box
          = link_to product_path do
            .item-in-user-profile__container__content__box__photo
              写真
            .item-in-user-profile__container__content__box__body
              %h3 商品名商品名商品名商品名商品名商品名
              .item-box-num
                .item-box-num__price
                  ¥2,500
                .item-box-num__icon
                  = icon('far', 'heart')
                  %span 3