.top-header
  .top-header__upper_box
    %ul.top-header__upper_box__content
      %li.logo
        = link_to products_path do
          = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36", alt: "メルカリ"
      %li.search
        = form_with url: products_path, class: "search-box" do |f|
          = f.text_field :name, placeholder: '何かお探しですか？', class: "search-box__text"
          = button_tag type: 'submit', class: "search-box__btn" do
            = icon('fas', 'search')
  .top-header__bottom_box
    %ul.gnav-left
      %li
        = link_to products_path do
          = icon 'fas', 'list', class: "icon"
          カテゴリから探す
        %ul.child
          - @categories.each do|parent|
            %li.child-content
              = link_to parent.name, products_index_path
              %ul.grandchild
                = render partial: "header_child", collection: parent.children, as: :category

      %li
        = link_to products_path do
          = icon 'fas', 'tags', class: "icon"
          ブランドから探す
        %ul.child
          %li.child-content
            = link_to "シャネル", products_path
            = link_to "ナイキ", products_path
            = link_to "ルイビトン", products_path
    %ul.gnav-right
      %li
        = link_to products_path do
          = icon('far', 'heart')
          いいね！一覧
      %li
        = link_to products_path do
          = icon('far', 'bell')
          お知らせ
      %li
        = link_to products_path do
          = icon('fas', 'check')
          やることリスト
      %li
        = link_to products_path do
          = icon('far', 'smile')
          マイページ