.wraper
  .top-slide
    %ul.slider
      %li
        = image_tag "sns_01.jpg", alt: "メルカリ"
      %li
        = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", alt: "メルカリ", class: "img-center"
  .popular-categorys-header
    %h2 人気カテゴリー
    .popular-categorys-header__box
      %ul.popular-categorys-header__box__container
        %li.popular-categorys-header__box__container__content
          = link_to "レディース", products_path
        %li.popular-categorys-header__box__container__content
          = link_to "メンズ", products_path
        %li.popular-categorys-header__box__container__content
          = link_to "家電・スマホ・カメラ", products_path
        %li.popular-categorys-header__box__container__content
          = link_to "おもちゃ・ホビー・グッズ", products_path
  .popular-categorys-container
    .item-boxes
      .item-boxes__box
        .item-boxes__box__header
          %h3 レディース新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - if @ladys
            = render partial: 'index-category', collection: @ladys, as: "category"

      .item-boxes__box
        .item-boxes__box__header
          %h3 メンズ新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - if @mens
            = render partial: 'index-category', collection: @mens, as: "category"
      .item-boxes__box
        .item-boxes__box__header
          %h3 家電・スマホ・カメラ新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - if @homeappliances
            = render partial: 'index-category', collection: @homeappliances, as: "category"

      .item-boxes__box
        .item-boxes__box__header
          %h3 おもちゃ・ホビー・グッズ新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - if @amuses
            = render partial: 'index-category', collection: @amuses, as: "category"