.wraper
  .top-slide
    %ul.slider
      %li
        = image_tag "sns_01.jpg", alt: "メルカリ"
      %li
        = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", alt: "メルカリ", class: "img-center"
  .popular-categorys-header
    %h2 人気カテゴリー
    .popular-categorys-header__box
      %ul.popular-categorys-header__box__container
        %li.popular-categorys-header__box__container__content
          = link_to "レディース", products_path
        %li.popular-categorys-header__box__container__content
          = link_to "メンズ", products_path
        %li.popular-categorys-header__box__container__content
          = link_to "家電・スマホ・カメラ", products_path
        %li.popular-categorys-header__box__container__content
          = link_to "おもちゃ・ホビー・グッズ", products_path
  .popular-categorys-container
    .item-boxes
      .item-boxes__box
        .item-boxes__box__header
          %h3 レディース新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - @ladys.each do |lady|
            %li.item-boxes__box__main__container__content
              .inner-item-box__container
                .inner-item-box__container__img-box
                  .inner-item-box__container__img-box__img
                    -# = image_tag lady.product_images[0].image_url.to_s
                  %span.inner-item-box__container__img-box__price
                    ¥
                    = lady.price
                  .inner-item-box__container__caption
                    %span.inner-item-box__container__caption__text
                      = lady.name
            
      .item-boxes__box
        .item-boxes__box__header
          %h3 メンズ新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - @mens.each do |men|
            %li.item-boxes__box__main__container__content
              .inner-item-box__container
                .inner-item-box__container__img-box
                  .inner-item-box__container__img-box__img
                    -# = image_tag men.product_images[0].image_url.to_s
                    -# = image_tag @image.image_url.to_s
                  %span.inner-item-box__container__img-box__price
                    ¥
                    = men.price
                  .inner-item-box__container__caption
                    %span.inner-item-box__container__caption__text
                      = men.name
      .item-boxes__box
        .item-boxes__box__header
          %h3 家電・スマホ・カメラ新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - @homeappliances.each do |homeappliance|
            %li.item-boxes__box__main__container__content
              .inner-item-box__container
                .inner-item-box__container__img-box
                  .inner-item-box__container__img-box__img
                  %span.inner-item-box__container__img-box__price
                    ¥
                    = homeappliance.price
                  .inner-item-box__container__caption
                    %span.inner-item-box__container__caption__text
                      = homeappliance.name
      .item-boxes__box
        .item-boxes__box__header
          %h3 おもちゃ・ホビー・グッズ新着アイテム
          = link_to products_path do
            もっと見る
            = icon('fas', 'angle-right')
        .item-boxes__box__main
          %ul.item-boxes__box__main__container
          - @amuses.each do |amuse|
            %li.item-boxes__box__main__container__content
              .inner-item-box__container
                .inner-item-box__container__img-box
                  .inner-item-box__container__img-box__img
                  %span.inner-item-box__container__img-box__price
                    ¥
                    = amuse.price
                  .inner-item-box__container__caption
                    %span.inner-item-box__container__caption__text
                      = amuse.name