.single-container
  %header 
    = render "products/header"


  .buy-main
    .buy-main__content

      .buy-main__content__text
        購入内容の確認
      
      .buy-main__content__detailbox
        .buy-main__content__detailbox__inner
          .buy-main__content__detailbox__inner__item
            = image_tag @product_images[0].image_url.url, class:"item-image"
            
            .item-detail
              %p.item-detail__text
                =@product.name
              %p.itemprice
                %span
                  =converting_to_jpy(@product.price)
                %span.fee
                  （税込）送料込み

      .buy-main__content__detailbox
        .buy-main__content__detailbox__inner
          = form_with model: @users_purchases, class: "buy-form", local: true do |f|
            %ul.price
              %li.price__box
                %div.price__box__text
                  支払い金額
                %div.price__box__number
                  %span.price__box__number__value
                    ￥
                    =converting_to_jpy(@product.price)
            
            %ul.point
              %li.point__box
                %div.point__box__checkbox
                  %input#checkbox-id.d-checkbox{type:"checkbox"}
                  %i.icon-check
                  %label{ for: 'checkbox-id', class: "f-label"}ポイントを使用（所持ポイント:P0)

            %section.userinfo
              %div.userinfo__inner
                %div.title
                  %span.left 支払い方法
                  = link_to "/", class: "right" do
                    %span 変更する
                %p.userinfo__inner__text
                クレジットカード
                %br
                = "************" + @default_card_information.last4
                %br
                有効期限
                = expiration_date(@default_card_information.exp_month, @default_card_information.exp_year)
                %br
                  = icon('fab', 'cc-visa fa-3x')

            %section.userinfo
              %div.userinfo__inner
                %div.title
                  %span.left 配送先
                  = link_to "/", class: "right" do
                    %span 変更する
                %div.userinfo__inner__text
                〒
                =@address.postal_code
                %br
                =@address.prefectures
                =@address.city
                =@address.house_number
                =@address.building_name
                %br
                =@address.address_last_name
                =@address.address_first_name
                %br

            %section.buyuserinfo
              = link_to "購入する", product_purchase_path(@product), class: "buy-btn"

  %footer.single-footer
    = render "products/footer"
