.single-container
  %header 
    = render "products/header"


  .buy-main
    .buy-main__content

      .buy-main__content__text
        購入内容の確認
      
      .buy-main__content__detailbox
        .buy-main__content__detailbox__inner
          .buy-main__content__detailbox__inner__item
            = image_tag "hito2.jpg", class:"item-image"
            
            .item-detail
              %p.item-detail__text
                =@product.description
              %p.itemprice
                %span
                  =@product.price 
                  円
                %span.fee
                  （税込）送料込み

      .buy-main__content__detailbox
        .buy-main__content__detailbox__inner
          -# = form_with model: @product, class: "buy-form", local: true do |f|
          %div.buy-form
            %ul.price
              %li.price__box
                %div.price__box__text
                  支払い金額
                %div.price__box__number
                  %span.price__box__number__value
                    ￥
                    =@product.price
            
            %ul.point
              %li.point__box
                %div.point__box__checkbox
                  %input.d-checkbox{type:"checkbox"}
                  %i#checkbox-id.icon-check
                  %label{ for: 'checkbox-id', class: "f-label"}ポイントを使用（所持ポイント:P0)

            %section.userinfo
              %div.userinfo__inner
                %div.title
                  %span.left 支払い方法
                  = link_to "/", class: "right" do
                    %span 変更する
                %p.userinfo__inner__text
                クレジットカード
                %br
                **********8990
                %br
                有効期限01/33
                %br
                  = icon('fab', 'cc-visa fa-3x')

            %section.userinfo
              %div.userinfo__inner
                %div.title
                  %span.left 配送先
                  = link_to "/", class: "right" do
                    %span 変更する
                %div.userinfo__inner__text
                〒001-0001
                %br
                北海道 札幌市 北区 北 1-1-1 ●●マンション111
                %br
                山田 花子
                %br

            %section.buyuserinfo
              
              = button_tag type: 'submit', class: "buy-btn" do
                購入する
              = form_tag(action: :pay, method: :post) do
                :plain
                %script{type: "text/javascript", src: "https://checkout.pay.jp", class:"payjp-button", "data-text": "購入する", "data-key": "#{ENV['PAYJP_TEST_PUBLIC_KEY']}"}
        
  %footer.single-footer
    = render "products/footer"
