%header
  = render "top_header"

%dialog{ class:"modal is-show is-animate"}
  .modal-inner.modal-banner
    .modal-body
      .modal-head.bold 確認
      削除すると二度と復活できません。
      %br
      削除する代わりに停止することもできます。
      %br
      %br
      本当に削除しますか？
    .clearfix
      .modal-btn.modal-btn-cancel.close{ id:"close"} キャンセル
      %form{ method:"POST", novalidate:"novalidate"}
        %input{ type:"hidden"}
        = link_to '削除する',product_path(@product),method: :delete,class:'modal-btn modal-btn-submit' 

%section
  .wraper
    .item-box-container
      %h1 
        = @product.name
      .item-box-container__content.clerafix
        .item-box-container__content__photo
          = image_tag @product_images[0].image_url.url, :size => "300x330",id:"img"
          .item-box-container__content__photo__each
            - @product_images.each do |product_image|
              = image_tag product_image.image_url.url,style:"width:20%;",onmouseover: "changeimage('#{product_image.image_url.url}');"


        %table.item-box-container__content__detail-table
          %tbody
            %tr
              %th 出品者
              %td 
                = @exuser.nickname
            %tr
              %th カテゴリ
              %td 
                = @category.name
                = @chaild_category.name
                = @grandchaild_category.name
            %tr
              %th ブランド
              %td コンテンツ
            %tr
              %th 商品のサイズ
              %td コンテンツ
            %tr
              %th 商品の状態
              %td 
                =@product.product_condition
            %tr
              %th 配送料の負担
              %td 
                =@product.shipping_charge
            %tr
              %th 配送の方法
              %td 
                =@product.shipping_method
            %tr
              %th 配送元地域
              %td 
                =@product.shipping_origin
            %tr
              %th 配送日の目安
              %td 
                =@product.shipping_day
      .item-box-container__price-box
        %span.item-box-container__price-box__item-price
          ¥
          =@product.price
        %span.item-box-container__price-box__item-tax
          (税込)
        %span.item-box-container__price-box__shipping-fee
          着払い
      %p.item-box-container__description__inner
        = @product.description
    .listing-item-change-box-parent

      .listing-item-change-box
        = link_to edit_product_path(id:@product.id), class: "btn-default btn-red" do
          商品の編集
        %p.text-center or
        %form{ name:"myform"}
          %button.btn-default.btn-gray 出品を一旦停止する
          %button.btn-default.btn-gray.open{ id:"open"} この商品を削除する


%aside
  = render "products/top_aside_footer"
%footer
  = render "products/top_footer"
