.l-container
  %main.trade
    %div.trade__content
      %section.trade__content__container
        .trade__content__container__text
          取引画面
        %div.trade__content__container__attention
          %h3
            = icon('fa', 'laugh')
            %span 評価をしてください
          %p 購入者に商品が到着し評価がありました。購入者の評価を行って取引を完了させてください。
          %p 評価は取引が終わった後で見ることができます。

        =form_with url: {controller: 'rates', action: 'pu_user_rate' } ,local:true, html: { class: "rate-form" } do |f|

          %ul.rate-form__ratelist
            %li
              = f.radio_button :rate, "1", id:"good"
              %div.rate-icon
                = icon('fa', 'laugh', class:"good")
                =f.label :rate, for:"good",class:"icon-label" do
                  良い
            %li
              = f.radio_button :rate, "2", id:"normal"
              %div.rate-icon
                = icon('fa', 'meh',class:"normal")
                =f.label :rate, for:"normal" ,class:"icon-label" do
                  普通
            %li
              = f.radio_button :rate, "3", id:"bad"
              %div.rate-icon
                = icon('fa', 'frown',class:"bad")
                =f.label :rate, for:"bad" ,class:"icon-label" do
                  悪い

          %p 評価のコメントを記入しましょう。
          =f.text_area :message,name:"message",placeholder:"コメントはなくても構いませんが、お礼のメッセージなどを書くと喜ばれます。", class:"trade-messagearea"

          =f.submit '購入者を評価して取引完了する', class:"btn btn-red"

          -# コメント実装後コメント欄追記