
%header
  = render "products/top_header"
.l-container
  %main.trade
    %div.trade__content
      %section.trade__content__container
        .trade__content__container__text
          取引画面
        %div.trade__content__container__attention
          %h3
            = icon('fa', 'laugh')
            %span 受取評価をしてください
          %p 商品が発送されました。商品が到着したら、出品者の評価をしてください。

        =form_with model: @rate ,local:true, html: { class: "rate-form" } do |f|
          %div.rate-form__checkbox
            -# = f.check_box :must, id:'checkbox-id'
            = check_box_tag :confirm, id:'checkbox-id',class:"check-input"
            = icon('far', 'square')
            -# = f.label 'confirm' ,for: 'checkbox-id', class: "f-label"
            -# = label_tag :confirm ,for: 'checkbox-id', class: "check-label"
            -# 商品の中身を確認しました。
            = label_tag :confirm, "商品の中身を確認しました",class:"label-input"
          %ul.rate-form__ratelist
            %li
              = f.radio_button :rate, id:"good", value: "1" 
              %div.rate-icon
                = icon('fa', 'laugh', class:"good")
                =f.label :rate, for:"good",class:"icon-label" do
                  良い
            %li
              = f.radio_button :rate, id:"normal", value: "2" 
              %div.rate-icon
                = icon('fa', 'meh',class:"normal")
                =f.label :rate, for:"normal" ,class:"icon-label" do
                  普通
            %li
              = f.radio_button :rate, id:"bad", value: "3" 
              %div.rate-icon
                = icon('fa', 'frown',class:"bad")
                =f.label :rate, for:"bad" ,class:"icon-label" do
                  悪い

          %p 評価のコメントを記入しましょう。
          =f.text_area :message,name:"message",placeholder:"コメントはなくても構いませんが、お礼のメッセージなどを書くと喜ばれます。", class:"trade-messagearea"

          =f.submit '評価を投稿する', class:"btn btn-red"

          -# コメント実装後コメント欄追記
%aside
  = render "products/top_aside_footer"
%footer
  = render "products/top_footer"