
%header
  = render "products/top_header"

  = render "ex_delivery"
  = render "pu_recieve_rate"
  = render "ex_pu_rate"

%aside
  = render "products/top_aside_footer"
%footer
  = render "products/top_footer"